<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>EJS TEST</title>
	<link rel="stylesheet" type="text/css" href="/apps/themes/themefile/resources/css/app.css">
</head>
<body>
<% include _include/_common/_header %>

<h1>headline1</h1>

<% include _include/_common/_footer %>
</body>
</html>